* {
	font-size: 20px;
	font-family: system-ui;
}
body {
	display: flex;
	height: 100vh;
	margin: 0;
	background-color: palegreen;
}
form[name="create"] {
	margin: 0 auto;
	padding-left: 20vw;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
form[name="create"] > * {
	padding: 5px;
}
form[name="create"] > img {
	margin-top: 5px;
}