@keyframes one {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
* {
	font-size: 20px;
	font-family: system-ui;
}
body {
	background-color: palegreen;
	margin: 0;
}
.containerMain {
	/*border: 1px solid black;*/
	width: 55vw;
	margin: 0 auto;
}

div[name="menu"] {
	z-index: 1;
	position: fixed;
	top: 0px;
	padding: 5px;
	background-color: palegreen;
	box-shadow: inset 2px 2px 5px rgba(34, 64, 27, 0.5), 1px 1px 5px rgba(34, 64, 27, 1);
	width: 49.5%;
	height: 50px;
}

.container {
	position: absolute;
	top: 60px;
	width: 50%;
}

.cat-item {
	display: flex;
	padding: 5px;
	margin: 5px 0;
	box-shadow: inset 2px 2px 5px rgba(56, 109, 43, 0.5), 1px 1px 5px rgba(56, 109, 43, 1);

}
.cat-item img {
	height: 10vw;
	width: 10vw;
	object-fit: cover;
}

.cat-item img:hover {
	animation: one 1s;
}
.cat-info {
	/*border: 1px solid rebeccapurple;*/
	flex-grow: 1;
	margin-left: 5px;
}

.cat-info h3 {
	margin: 0;
}

dialog {
	display: none;
	width: 50vh;
	height: 50vh;
	margin-top: -80vh;
	padding: 0;
}
dialog[open] {
	display: flex;
}
dialog img {
	object-fit: cover;
	max-width: 100%;
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
button[name="exit"] {
	height: 75%;
	margin: 5px;
	float: right;
}