* {
	font-size: 20px;
	font-family: system-ui;
}
body {
	display: flex;
	height: 100vh;
	margin: 0;
	background-color: palegreen;
}
form[name="auth"] {
	margin: 0 auto;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form[name="auth"] > * {
	padding: 5px;
}

